<h2>Post List</h2>
<md-progress-bar mode="indeterminate" *ngIf="loading"></md-progress-bar>
<!-- <md-list>
  <md-list-item *ngFor="let post of posts">
    <h2 mdLine> {{post.title}} </h2>
    <p mdLine>
      <span> {{post.body}} </span>
    </p>
  </md-list-item>
</md-list> -->
<!-- two line list -->
<md-card>
  <md-list>
    <md-card>
      <md-list-item *ngFor="let feed of rssFeeds | paginate: { itemsPerPage: 8, currentPage: index }">

        <h3 mdLine style="text-align: center; color: crimson !important">
          <a href="{{feed.link}}" target="_blank">
            <b>{{feed.title}}</b>
          </a>
        </h3>
        <p mdLine>
          <span> {{feed.summary}} </span>
        </p>
        <span class="demo-2" mdLine [innerHTML]="'-- '+feed.meta.link.replace('https://cors-anywhere.herokuapp.com/', '').split('/').slice(0,3)">
        </span>
        <span mdLine> {{feed.date | date:'medium'}} </span>
        <md-divider></md-divider>

      </md-list-item>
    </md-card>
  </md-list>

  <pagination-controls class="my-pagination" (pageChange)="index = $event" maxSize="0" screenReaderPaginationLabel="Pagination"
    screenReaderPageLabel="page" screenReaderCurrentLabel="You're on page"></pagination-controls>

  <br>
  <br>
  <br>
</md-card>

<style>
  .my-pagination /deep/ {
    color: crimson;
  }

  .my-pagination /deep/ .ngx-pagination a {
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12) !important;
    background-color: #3f51b5 !important;
    color: hsla(0, 0%, 100%, .87) !important;
    transform: translate3d(0, 0, 0);
    transition: background .4s cubic-bezier(.25, .8, .25, 1), box-shadow 280ms cubic-bezier(.4, 0, .2, 1) !important;
    box-sizing: border-box !important;
    position: relative !important;
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    cursor: pointer !important;
    outline: 0 !important;
    border: none !important;
    -webkit-tap-highlight-color: transparent !important;
    display: inline-block !important;
    white-space: nowrap !important;
    text-decoration: none !important;
    vertical-align: baseline !important;
    text-align: center !important;
    margin: 0 !important;
    min-width: 88px !important;
    line-height: 36px !important;
    padding: 0 16px !important;
    border-radius: 2px !important;
  }
</style>